<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCb9azHrYAycQMD7lDY7Lo7xmGHIW27fRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>714280968315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.DzliEra</string>
	<key>PROJECT_ID</key>
	<string>dzlierafirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>dzlierafirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714280968315:ios:699a418f2c32cc470a82de</string>
</dict>
</plist>